<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
</head>
<body>
    <h1>О нас</h1>
    <p>Добро пожаловать в мир инновационной геймификации подготовки к ЕГЭ по английскому языку – добро пожаловать в
    EnglishPlus!</p>
    
    <h2>О Нашей Команде:</h2>
    
    <h2>Кокиев Мухаммед Али</h2>
    <i>Основатель и Главный Разработчик</i>
    
    Мухаммед Али – вдохновленный программист и страстный приверженец образования. С его креативным мышлением и техническими
    навыками, он реализовывает новаторские идеи, призванные сделать подготовку к ЕГЭ по английскому языку увлекательной и
    результативной.
    
    <h2>Эмран Минзатов</h2>
    <i>Сооснователь и Эксперт по Английскому Языку</i>
    
    Эмран – настоящий эксперт в области английского языка, с опытом работы в сфере образования. Его глубокие знания и
    педагогический опыт помогают создавать образовательные контенты, обеспечивающие эффективное освоение материала и
    повышение языковых навыков учащихся.
    
    <h2>О Нашем Проекте:</h2>
    
    EnglishPlus – это платформа, где геймификация встречает подготовку к ЕГЭ по английскому языку. Мы стремимся сделать
    обучение увлекательным и максимально эффективным для студентов, предоставляя инновационные методики, разработанные нашей
    командой профессионалов.
    
    <h2>Что Нас Отличает:</h2>
    
    <b>Геймификация Обучения:</b>Мы верим, что учебный процесс должен быть интересным и мотивирующим. Наши образовательные игры не
    только развивают языковые навыки, но и вдохновляют к самостоятельному обучению.
    
    <b>Персональный Подход:</b> Мы понимаем, что каждый ученик уникален. Наши курсы адаптируются под индивидуальные потребности,
    обеспечивая эффективное и комфортное обучение.
    
    <b>Профессиональные Эксперты:</b> Наша команда состоит из опытных разработчиков и квалифицированных преподавателей, готовых
    поддержать вас на пути к успешной сдаче ЕГЭ по английскому языку.
    
    Присоединяйтесь к EnglishPlus – где образование становится приключением, а каждый успех – вашим достижением!
</body>
</html>