<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <link rel="stylesheet" href="css/classes.css">
    <link rel="stylesheet" href="css/modal-log.css">
    <link rel="stylesheet" href="css/modal-sign.css">
</head>

<body>
    <%- include('header') %>
        <main>
            <h1>Курсы</h1>

            <section class="course-description">
                <h2>Описание Курсов:</h2>
                <p>Выберите из наших увлекательных курсов и улучшите свои языковые навыки. Мы предлагаем обширный выбор
                    материалов,
                    разработанных профессиональными преподавателями, чтобы сделать ваше обучение максимально эффективным
                    и
                    увлекательным.</p>
            </section>

            <section class="course-list">
                <h2>Доступные Курсы:</h2>
                <ul>
                    <li>Курс 1: Английский язык 60+</li>
                    <li>Курс 2: Английский язык 70+</li>
                    <li>Курс 3: Английский язык 80+</li>
                    <li>Курс 3: Английский язык 90+</li>
                </ul>
            </section>

            
        </main>
        <%- include('footer') %>
            <%- include('modalLog') %>
                <%- include('modalSign') %>
                    <script src="js/modal.js"></script>
                    
</body>

</html>