<link rel="stylesheet" href="/css/cabinet.css" />
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="/">
                    <span class="title">EnglishPlus+</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Главная</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/courses">
                    <span class="icon">
                        <ion-icon name="book-outline"></ion-icon>
                    </span>
                    <span class="title">Курсы</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/addCourse">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Записаться на курс</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/reset">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Изменить пароль</span>
                </a>
            </li>

            <li>
                <a href="/">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Выйти</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    