<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="/">
                    <span class="title">EnglishPlus+</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Главная</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/courses">
                    <span class="icon">
                        <ion-icon name="book-outline"></ion-icon>
                    </span>
                    <span class="title">Курсы</span>
                </a>
            </li>

            <li>
                <a href="/cabinet/ld">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Личные данные</span>
                </a>
            </li>

            <li>
                <a href="/">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Выйти</span>
                </a>
            </li>
        </ul>
    </div>