<!-- views/results.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Results</title>
</head>

<body>
    <%- include('navigation')%>
    <%- include('topbar')%>
    
        <!—=========================Main====================—>
                <div class="details">
                    <div class="recentOrders">
                        <div class="cardHeader">
                            <div class="test-results-container">
                                <h1>Test Results</h2>
                            <h2>Total Points: <%= totalPoints %>
                            </h2>
                            <h2>Your Points: <%= userPoints %>
                            </h2>
                            <a href="/cabinet">Back to Home</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
</body>

</html>