.width-container {
  text-align: center;
  max-width: 1400px;
  /* изменено на max-width вместо width */
  margin: 0 auto;
}

.center-text {
  margin: 25px 0 30px 0  ;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.container {
  width: 20%;
  min-width: 400px;
  height: 140px;
  margin: 0 15px 50px;
  padding: 25px 30px;
  border-radius: 12px;
  background: #b8b2ff;
  text-align: left;
  box-sizing: border-box;
  transition: scale 0.1s ease;
}
.container:nth-child(1),
.container:nth-child(4) {
  margin-left: 0;
}

.container:hover {
  scale: 1.1;
}

.container h3 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.container p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.main-container {
  width: 100%;
  background-color: #a398e4;
}

.main-container.white {
  width: 100%;
  background-color: #ffffff;
}

.image-block {
  margin: 45px 0;
}
.image-block img {
  border-radius: 16px;
}

.text-block {
  grid-column: span 2;
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
}

.text-block h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.text-block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

.image-block img {
  max-width: 100%;
}

.container-wrapper.block{
  display: grid;
    grid-template-columns: 2.9fr 3fr 2fr;
    
}

.container-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-gap: 20px;
}

.container-wrapper.two {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-gap: 20px;
}

.btn-main {
  border: none;
  padding: 20px 38px;
  border-radius: 69px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.3);
  background-color: #ed6316;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 14px;
}

.btn-main:hover {
  background-color: #ffbe0b;
  color: #160c28;
  margin-left: 10px;
}

.btn-main-wrapper {
  margin-top: 10px;
}

.form-main {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label,
input,
button {
  margin-right: 10px;
}

form input {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 38px;
  border: 2px #ced8df solid;
  text-align: left;
}

form input:first-of-type {
  margin-left: -10px;
}

form input:focus {
  border-color: #ed6316;
  outline: none;
}

#review{
  background-color: #ebb72f;
  color: black;
}

#review:hover{
      background-color: #ed6316;
      color: white;
      margin-left: 10px;
}


.container-wrapper-application{
  display: grid;
  grid-template-columns: 1fr 550px;
  margin: 50px 0;
  border: 3px solid #f1bd20;
  height: 500px;
  border-radius: 20px;
}

.container-wrapper-application .left-block{
max-width: 1300px;
text-align: left;
padding: 20px 18px;
}

.container-wrapper-application .left-block h2{
  font-size: 72px;
  width: 700px;
  }

.container-wrapper-application .left-block p{
  font-size: 20px;
  margin-top: 15px;
  line-height: 30px;
  }
.container-wrapper-application .right-block{
  max-width: 550px;
  background-color: #f1bd20;
  border: 1px #f1bd20 solid;
  border-radius: 17px;
  text-align: left;
  font-size: 24px;
  padding: 15px;
  color: white;
}

.container-wrapper-application .right-block .text-right-block{
  padding: 10px 0 5px 0;
}

.container-wrapper-application form .btn-block{
  display: inline;
  margin: 0px;
}

.container-wrapper-application input{
  font-size: 19px;
  border-radius: 12px;
  margin: 10px;
  border: none;
}

.container-wrapper-application form .btn-main-wrapper .btn-block-button{
  width: 100%;
  background-color: black;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}

.container-wrapper-application form .btn-main-wrapper .btn-block-button::after{
  content: "→";
}

.right-block form p{
  margin-top: 30px;
  font-size: 16px;
  color: rgb(65, 65, 65);
  width: 70%;
  line-height: 25px;
}

#second .container-wrapper-application{
  display: grid;
  grid-template-columns: 1fr 550px;
  margin: 50px 0;
  height: 500px;
  border-radius: 20px;
}

#second .container-wrapper-application .right-block{
  color: black;
}

#second .container-wrapper-application{
  border: #a398e4 3px solid;
}

#second .container-wrapper-application .right-block{
  background-color: #a398e4;
  border: #a398e4 ;
}


.container-wrapper-guarantees{
    display: grid;
    grid-template-columns: 1fr 650px;
    margin: 50px 0;
    height: 500px;
    gap: 80px;
}

.container-wrapper-guarantees .left-side{
  display: table-cell;
}

.container-wrapper-guarantees .left-side h3{
  margin: 20px 0;
  padding: 25px 15px;
  font-size: 28px;
  text-align: left;
  border: 3px solid  #f1bd20 ;
  border-radius: 15px;
}

.container-wrapper-guarantees .left-side #first-type{
  position: relative;
  background-color: #f1bd20;
  border-radius: 15px;
  color: white;
  padding:  0;
  margin: 0;
}

.container-wrapper-guarantees .left-side #first-type h3:after{
  position: absolute;
  right: 0;
  content: "🠊";
  scale: 1.5;
  top: 40px;
  right: 40px;
}

.container-wrapper-guarantees .left-side #first-type h3{
  width: 400px;
}

.container-wrapper-guarantees .right-side {
  height: 100%;
  background-color:#f1bd20;
  border-radius: 15px;
}

.container-wrapper-guarantees .right-side img{
  width: 100%;
  height: 100%;
}


