<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span class="logo">English</span>
        <div class="nav-list">
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/">Курсы</a></li>
            <li><a href="/">О нас</a></li>
            <li><a href="/">Контакты</a></li>
          </ul>
        </div>
        <div class="nav-btn">
          <button class="btn-log">Войти</button>
          <button class="btn-sign">Регистрация</button>
        </div>
      </div>
      <div class="presentation">
        <div class="start-learning">Начать обучение</div>
      </div>
    </header>
  </body>
</html>