<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/modal-sign.css">
</head>

<body>
    <div id="modal-sign" class="modal-sign">
        <form id="registerForm" method="POST" action="/register">
            <div class="modal-content-sign">
                <img class="close-modal-sign" width="20" height="20"
                    src="https://img.icons8.com/ios-filled/50/delete-sign--v1.png" alt="delete-sign--v1" />
                <h2>Регистрация</h2>
                <label for="name">Имя</label>
                <input type="text" id="name-sign" name="name" placeholder="Введите ваше имя" />
                <label for="surname">Фамилия</label>
                <input type="text" id="surname-sign" name="surname" placeholder="Введите вашу фамилию" />
                <label for="email">Ваш email</label>
                <input type="email" id="email-sign" name="email" placeholder="Введите ваш email" />
                <label for="password">Ваш пароль</label>
                <input type="password" id="password-sign" name="password" placeholder="Введите ваш пароль" />
                <div class="btn-main-wrapper">
                    <button type="submit" class="btn-sign" id="btn-sign">
                        Зарегистрироваться
                    </button>
                </div>
                <div id="register-error-message" style="color: red; margin-top: 10px;"></div>
            </div>
        </form>
    </div>
</body>

</html>