footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #BFCDE0;
}

.vk-icon {
    text-align: center;
   width: 50%;
    margin-right: 10px; 
}

.vk-icon:visited{
    color: initial;
}

.team-name {
    text-align: center;
    width: 50%;
}



.modal.active {
    display: block;
}

.modal{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    z-index: 1;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}